@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Poppins, sans-serif;
    font-size: 80%;
}

nav.navbar {
    #navbar-menu {
        ul.navbar-nav {
            li.nav-item {
                transition: all 0.3s linear;
                &:hover {
                    background-color: $info;
                    a.nav-link {
                        color: white;
                    }
                }
            }
        } 
    }
}

section.meals {
    .card {
        height: 400px !important;

        .card-top {
            height: 80% !important;
            img {
                background-size: cover;
            }
        }
    }
    button.btn-transparent {
        span {
            font-weight: 500 !important;
            opacity: 0.6;
            transition: all 0.3s linear;
        }
        &:hover {
            span {
                display: inline-block;
                opacity: 1;
                color: $danger;
                transform: scale(1.5);
            }
        }
    }
}

section.ingredients {
    .card {
        transition: all 0.2s linear;
        h3 {
            transition: color 0.15s linear;
        }
        &:hover {
            transform: scale(1.02);
            h3 {
                color: $danger;
            }
        }
    }
}